
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



:root{
--h1    :40px;
--h2    :32px;   
--h3    :28px;
--h4    :24px;  
--h5    :20px;
--h6    :16px;  
--sub   :20px;
--label :16px;
--ls    :5px;
--color-dark-100:rgba(33,37,41,1);
--color-dark-75:rgba(33,37,41,0.75);
--color-dark-50:rgba(33,37,41,0.50);
--color-dark-25:rgba(33,37,41,0.25);
--color-white-100:rgba(255,255,255,1);
--color-white-75:rgba(255,255,255,0.75);
--color-white-50:rgba(255,255,255,0.50);
--color-white-25:rgba(255,255,255,0.25);
--color-green-100:rgba(116,198,157,1);
--color-green-75:rgba(116,198,157,0.75);
--color-green-50:rgba(116,198,157,0.50);
--color-green-25:rgba(116,198,157,0.25);
--font-1:'Crimson Text', sans-serif;
--font-2:'Work Sans',sans-serif;
--shadow-1: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

/* removing default style of the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style rule for common classname is start here */


.label{
    font-family: var(--font-2);
    font-size: var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: 700;
}

.text-white{
    color: var(--color-white-100);
}
.text-black{
    color: var(--color-black-100);
}
.text-green{
    color: var(--color-green-100);
}
.text-center{
    text-align: center;
}

.white-btn,.dark-btn{
cursor: pointer;
border: none;
font-family:var(--font-2);
font-size: var(--h5);
padding:10px 40px;
background-color: var(--color-white-100);
border-radius: 8px;
}
.dark-btn{    
    background-color: var(--color-dark-100);
    color: var(--color-white-100);
 
}

.responsiveimage{
    max-width: 100%;
    height: auto;
}

.common-title{
    font-size:var(--h1);
    font-family: var(--font-2);
    font-weight: 700;
    text-transform: capitalize;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 25px;
    padding: 40px 0px ;
}
.footerwrapper{
    background-color: var(--color-green-100);
}
.footerLinks{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.footerLinks__social{
    display: flex;
    gap: 10px;
}
.footerLinks__copyright{
    font-family: var(--font-2);
}

.flex{
    display: flex;
    flex-direction: column;
gap: 15px;
}
/* some time hide design */
.hide{
    display: none;
} 
/* common container design */
.container{
    max-width: 1140px;
    margin: auto;
    }





/* css common design is end here */




/* navbar section design is start here */
 .hero{
    background-color: var(--color-green-100);}


.navbar{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 25px 0px;
}

.navbar__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.navbar__logo--text{
    font-size: var(--h2);
    color: var(--color-white-100);
    font-family: var(--font-2);
    font-weight:500;
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: var(--font-2);
    font-size: var(--h5);
}

[class ^='navbar__menu']{
    text-decoration: none;
    color: var(--color-white-100);
}  
/* style rule for navbar icon */
.navbar__icon{
    display: none;    
    }
    
    .navbar__icon i{
        font-size: var(--h2);
        color: var(--color-white-100);
        cursor: pointer;
    }
    



/* navbar section  design is end here */










/* style  rule for media queries */


@media(max-width:1200px){
    .container{
        max-width: 970px;
    }

    .common-title{
        font-size:var(--h2);
    }

}

@media(max-width:1024px){
    .container{
        max-width: 768px;
    }
}

@media(max-width:768px){

    .white-btn,.dark-btn{
        cursor: pointer;
        font-family:var(--font-2);
        font-size: var(--h5);
        padding:8px 25px;
   
        }

        .footerLinks{
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
           
        }


    .container{
        max-width: 500px;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

.navbar__menu--1{
    margin-top: -200px;
}

.navbar__menu{
    z-index: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 40px;
 position: absolute;
 top: 15vh;
 width: 100%;
 height: 100vh;
 left: 0;
background-color: var(--color-green-100);
}
.hidden{
    opacity: 0;
}
.navbar__icon{
    display:block;    
    }
    .common-title{
        font-size:var(--h4);
    }
}



@media(max-width:568px){
    .container{
        max-width:90%;
    }
} 











